a {
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}

body {
    font-family: "Tahoma", sans-serif;
}

h2 {
    color: deeppink;
}

ul > li {
    font-weight: bolder;
    font-size: 25px;
    padding: 3px;
    margin: 3px;
    background-color: dodgerblue;
}

ul {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: aqua;
}
ol > li {
    font-weight: lighter;
    font-size: 18px;
}

p {
    color: aqua;
    font-family: Georgia, serif;
    font-size: 15px;
}

h1 {
    color: beige;
    background-color: cyan;
    padding: 8px 16px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}